html {
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    color: #c897d8;
    font-size: 16px;
    scroll-padding-top: 3.5rem;
    
}

body {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}




nav {
    background-color: #333159;
    display: flex;
    justify-content: flex-end;
    min-width: 100%;
    right: 0;
    margin-top: 0;
    color: #c897d8;
    font-size: 1.1rem;
    font-family: "Open Sans";
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    z-index: 2;
    overflow: hidden;
}


.navlinks li {
    display: inline-flex;
    padding-right: 3.75rem;
}

.navlinks a {
    color: #c897d8;
    text-decoration: none;
}

.navlinks a:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.name-container {
    min-height: 31rem;
    max-width: 100%;
    background-color: #c897d8;
    color: #333159;
    margin-top: 3.7rem;
    display: flex;
}

.toggle-button {
    margin-top: .5rem;
    margin-left: .5rem; 
    height: 30px;
    width: 60px;
}

#toggle {
   
}

input[type="checkbox"] {
    width: 60px;
    height: 30px;
    -webkit-appearance: none;
    background-color: #764d79;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #c897d8;
    transition: .5s;
}

input:checked[type="checkbox"] {
    background: #333159;

}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #c897d8;
    transform: scale(1.1);
    box-shadow: 0 4px 7px rgba(0,0,0,.2);
    transition: .5s;
}



input:checked[type="checkbox"]:before {
    left: 42px;
}

.name-banner {
    width: 100%;
    align-self: center;
    justify-content: center;
    margin-right: 3.7rem;
}


.stretch-name {
    display: flex;
    justify-content: center;
}

h1.dev-name {
    font-size: 3.75rem;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: "Open Sans";
    letter-spacing: 0.3rem;
}

.dev-name {
    -webkit-transition: transform 2s ease-in-out;
}

.dev-name:hover {
    transform: scale(1.3);
}


.description {
    animation: animate 3s infinite;
}

@keyframes animate
{
    0%
    {
        transform: translatex(0px);
    }
    20%
    {
        transform: translatex(-1.25rem);
    }
    40%
    {
        transform: translatex(1.25rem);
    }
    
    100%
    {
        transform: translatex(0px);
    }

}



h3.description {
    margin-top: 0;
    font-family: "Open Sans";
}


.about-container {
    min-height: 31rem;
    max-width: 100%;
    background-color: #333159;
    padding-top: 1.25rem;
}

.about-title {
    font-size: 1.6rem;
    text-align: center;
    font-family: "Open Sans";
}

#about-anim {
    animation: none;
}

.about-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.portrait-container img {
    max-height: 21.8rem;
    max-width: 100%;
}

.about-me {
    font-family: "Open Sans";
    width: 37.5rem;
    min-height: fit-content;
    font-size: 1.25rem;
}

.projects-container {
    min-height: 31rem;
    max-width: 100%;
    background-color: #c897d8;
    justify-content: center;
    color: #333159;
    padding-top: 1.25rem;
    font-family: "Open Sans";
}

.project-title {
    font-size: 1.6rem;
    padding-bottom: 1.25rem;
}


.box-container img {
    max-height: 12.5rem;
    max-width: 100%;
}

a.tea-cozy:visited {
    color: #333159;
}

a.tea-cozy:hover {
    font-size: 110%;
}

.skills-container {
    background-color: #764d79;
    padding-top: 1.25rem;
    font-family: "Open Sans";
    font-size: 1.6rem;
    min-height: 32rem;
}

.image-container {
    min-height: 18.75rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.image-container img {
    max-height: 12.5rem;
    width: auto;
    height: auto;
}

.contact-container {
    height: 52rem;
    padding-top: 1.25rem;
    background-color: #333159;
}

.contact-heading {
    font-family: "Open Sans";
    font-size: 1.6rem;
}

.contact-container h3 {
    font-family: "Open Sans";
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-group {
    max-width: 56rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.8rem;
}


.contact-group {
    display: flex;
    flex-direction: column;
    width: calc(375px / var(--size-divisor));
}

input[type=text], select, textarea {
    padding: 0.5rem 1 rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Open Sans";
  }

input[type=text], select {
    height: 2.3rem;
}

label {
    font-family: "Open Sans";
    display: inline-block;
    width: 9.3rem;
    text-align: left;
}

#message {
    height: 6.25rem;
}

input[type=submit] {
    width: 6.25rem;
    height: 2.8rem;
    background-color: #c897d8;
    color: #333159;
    margin-top: 1.25rem;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1rem;
    align-self: center;
    border: .06rem solid #764d79;
    border-radius: 2.5rem;
}

.form-section h3 {
   display: none;
   margin-top: 21.8rem;
}

ul {
    padding-inline-start: 50px;
}


.active {
    background-color: black !important;
    color: #c897d8 !important;
    border-bottom: solid 1px #c897d8;
}

.active a:visited {
    color: #c897d8;
}

.active .box-container img {
    border: solid 1px #c897d8;
}
 
@media (min-width: 540px) {
    .contact-group {
      --size-divisor: 1.2;
    }

    .navlinks li {
        padding-right: 5rem;
    }

  }



  @media (min-width: 768px) {
    .contact-group {
      --size-divisor: .7;
    }
  }

  @media (min-width: 900px) {
    .contact-group {
        --size-divisor: .6;
    }

  }

  @media (min-width: 992px) { 
    .contact-group {
      --size-divisor: 1;
    }
  }
  @media (min-width: 1200px) { 
    .contact-group {
      --size-divisor: .67;
    }
  }



  @media only screen and (max-width: 412px) {
    .navlinks li {
        padding-right: 2.8rem;
    }
  
  }

 @media only screen and (max-width: 365px) {
    .navlinks li {
     padding-right: 2rem;
    }

    .navlinks {
        padding-right: 0.8rem;
    }
  }

 @media only screen and (max-width: 285px) {
    html {
        scroll-padding-top: 5rem;;
    }
    .navlinks li {
        padding-right: 0.9rem;
    }

    .name-container {
      padding-top: 10rem;
      padding-right: 8rem;
    }
}


@media only screen and (max-width: 480px) {
    .about-items {
      flex-wrap: wrap;
    }

    .image-container img {
        max-height: 8rem;
    }

    .navlinks li {
       
    }

    .name-container {
        padding-top: 3rem;
    }

    .about-me {
        margin: 0 1.2rem;
    }

    .dev-name {
        -webkit-transition: none;
    }

    .dev-name:hover {
        transform: none;
    }
  }

  @media only screen and (max-width: 540px) {
    .dev-name {
        -webkit-transition: none;
    }

    .dev-name:hover {
        transform: none;
    }
  }

