html {
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    color: #c897d8;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333159;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    right: 0;
    color: #c897d8;
    font-size: 18px;
    margin-top: 0;
    font-family: Montserrat;
}


.navlinks li {
    display: inline-flex;
    width: 70px;
    margin-right: 40px;
}

.navlinks a {
    color: #c897d8;
    text-decoration: none;
}


.name-container {
    height: 500px;
    background-color: #c897d8;
    color: #333159;
    display: flex;
}

.name-banner {
    margin: auto;
}

h1.dev-name {
    font-size: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: Montserrat;
    letter-spacing: 2px;
}

h3.description {
    margin-top: 0;
    font-family: Montserrat;
}


.about-container {
    height: 500px;
    background-color: #333159;
    padding-top: 10px;
}
.about-title {
    font-size: 25px;
    text-align: center;
    font-family: Montserrat;
}

.about-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.portrait-container img {
    height: 350px;
}

.about-me {
    font-family: "Open Sans";
    width: 600px;
    height: fit-content;
    font-size: 20px;
}

.projects-container {
    height: 500px;
    background-color: #c897d8;
    justify-content: center;
    color: #333159;
    padding-top: 10px;
    font-family: Montserrat;
}

.project-title {
    font-size: 25px;
    padding-bottom: 20px;
}


.box-container img {
    height: 200px;
}

a:visited {
    color: #333159;
}

a:hover {
    font-size: 110%;
}
.skills-container {
    background-color: #764d79;
    padding-top: 10px;
    font-family: "Open Sans";
    font-size: 25px;
    height: 500px;
}

.image-container {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-container img {
    height: 200px;
}

.contact-container {
    height: 1000px;
    padding-top: 10px;
    background-color: #333159;
}

.contact-heading {
    font-family: Montserrat;
    font-size: 25px;
}

.contact-container h3 {
    font-family: "Open Sans";
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-group {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}


.contact-group {
  
    display: flex;
    flex-direction: column;
    width: 500px;
}

input[type=text], select, textarea {
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%; 
    font-size: 16px;
    font-family: "Open Sans";
  }


label {
    font-family: "Open Sans";
    display: inline-block;
    width: 150px;
    text-align: left;
}

#message {
    height: 100px;

}

